/* WRAPPERS */
.flex-box-turing { 
    display: flex;
    margin: 3vh 0;
}


/* LOG AREA */
.log-and-execution-area {
    width: 40vw;
    padding: 2vw;
    padding-top: 0;
}


/* BACK BUTTON IN EXECUTION PAGE */
.back_button {
    margin-left: 2vw;
}


/* TURING MACHINE AREA*/
.turing-machine {
    width: 60vw;
}

.turing-machine input {
    background-color: var(--textarea-background);
    color: var(--main-font-color);
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.3rem;
}


/* WORD AREA */
.entry_word {
    margin: 0 2vw;
    width: 80vw;
    height: 10vh;
    padding: 0.4rem;
    background-color: var(--textarea-background);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* ======> SETTINGS FOR CELLPHONES <====== */
@media screen and (max-device-width:800px) {
    .flex-box-turing {
        display: inline;
    }
}