/* PALETTE FOR DARK AND LIGHT MODE */
:root {
    /* Backgrounds */
    --main-background-color: #474744;
    --header-background-color: #67B6B6;
    --control-buttons-background: #EBEBE3;
    --execution-button-background: #C19898;
    --textarea-background: transparent;
    --register-lighter-background: #DDC6C6;

    /* Colors */
    --header-font-color: #EBEBE3;
    --main-font-color: #EBEBE3;
    --control-button-font-color: #121212;
    --title-font-color: #EBEBE3;
    --details: #2B2B28;
    --textarea-scrollbar: #4A4A48;
    --code-font-color: rgba(0, 0, 0, 0);
    --code-reserved-words: #f84b3c;
    --code-built-in-funcs: #f9bc41;
    --code-label-color: #8fbf7f;
    --code-background-color: #282828;
    --error-font-color: #FF7676;
    --highlight-color: #D2C656;

    /* General colors */
    --dark-color: #121212;
}
  
[data-theme="dark"] {
    /* Backgrounds */
    --main-background-color: #F3EAE4;
    --control-buttons-background: #67B6B6;
    --execution-button-background: #B9A1D8;
    --textarea-background: transparent;
    --register-lighter-background: #DCD3E7;

    /* Colors */
    --header-font-color: #F5F5F5;
    --main-font-color: #121212;
    --control-button-font-color: #F5F5F5;
    --title-font-color: #67B6B6;
    --details: #F7E4D6;
    --textarea-scrollbar: #EAD0B7;
    --code-font-color: rgba(0, 0, 0, 0);
    --code-reserved-words: #9b0511;
    --code-built-in-funcs: #b47523;
    --code-label-color: #447a59;
    --code-background-color: #fbf0c9;
    --error-font-color: #FF5977;
    --highlight-color: #B9A1D8;
}


/* GENERAL SETTINGS */
html,
body {
	margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
}


/* WRAPPERS */
.flex-box { 
    display: flex;
    margin: 3vh 0;
}


/* PAGE HEADER */
.simulator-title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 4vh;
    padding: 3vmin;
    text-align: center;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
}


/* THEME SWITCH */
.theme-switch {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    width: 3.75rem;
    height: 2.125rem;
}
  
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: .4s;
    background-color: #2B2B28;
}
  
.slider:before {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    width: 1.625rem;
    height: 1.625rem;
    content: "";
    transition: .4s;
    background-color: #F5F5F5;
}
  
input:checked + .slider {
    background-color: #DCD3E7;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 2.125rem;
}
  
.slider.round:before {
    border-radius: 50%;
}



/* ======> INDEX PAGE <====== */
/* DOWNLOAD AND UPLOAD BUTTONS */
.download-and-upload-area {
    display: flex;
}

.button-svg {
    text-decoration: none;
    text-align: center;
    margin-left: 2vw;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: var(--control-buttons-background);
    color: var(--control-button-font-color);
}

.button-svg svg{
    width: 0.9rem;
    height: 0.9rem;
    fill: var(--control-button-font-color);
}


/* FILE NAME DISPLAY */
#file-chosen{
    margin-left: 1rem;
}


/* TEXTAREA FOR CODE*/
.code-highlight {
    font-size: 1.06rem;
}

.code-textarea {
    font-size: 1.06rem;
    resize: none;
    border: none;
    padding: 10px;
    width: 56vw;
    min-height: 40vh;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--code-font-color);
    background: var(--textarea-background);
    caret-color: var(--main-font-color);
}

.code-textarea::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--textarea-background);
}

.code-textarea::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--textarea-scrollbar);
}

.highlighting {
    width: 56vw;
    height: 40vh;
    max-height: 40vh;
    margin: 0;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow: hidden;
}

.front {
    position: relative;
    z-index: 1;
}

.behind {
    position: absolute;
    margin: 0 2vw;
    padding: 10px;
    background-clip: padding-box;
    background-color: var(--code-background-color);
    z-index: 0;
}

.label {
    color: var(--code-label-color);
}

.reserved {
    color: var(--code-reserved-words);
}

.builtin {
    color: var(--code-built-in-funcs);
}

/* LOG AND EXECUTION AREA */
/* Log area */
.log-and-execution-area h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--title-font-color);
}

.log-area div {
    padding: 0.4rem;
    color: var(--error-font-color);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.log-area__errors {
    background-color: var(--code-background-color);
    padding: 0.6rem;
    font-size: 1rem;
    color: var(--error-font-color);
    min-width: 30vw;
    min-height: 10vh;
}

/* Verify and execute code buttons */
.button-area {
    display: flex;
    flex-direction: column;
    margin: 3vmin;
}

.button {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    border: none;
    width: 20vw;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--execution-button-background);
    color: var(--main-font-color);
}



/* ======> EXECUTION PAGE <====== */
/* BACK BUTTON IN EXECUTION PAGE */
.back_button {
    margin-bottom: 2.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-font-color);
}

.back_button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--execution-button-background);
}


/* EXECUTION AREA */
.execution-area {
    display: flex;
}

.execution-settings {
    width: 50vw;
    padding: 0 2vmax;
}


/* INPUT WORD */
.input-code {
    margin: 1rem 0;
}

.input_label {
    font-size: 1.8rem;
}

.input_box {
    background: var(--textarea-background);
    color:var(--main-font-color);
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.3rem;
}


/* CONTROL BUTTONS */
.control_buttons {
    display: flex;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.control_buttons .button{
    font-size: 1rem;
    margin-right: 1rem;
    min-width: 5rem;
    width: 7vw;
    padding: 0.3rem 0.8rem;
}


/* COMPILED PROGRAM AND TREE VISUALIZATION */
.compiled-program {
    width: 50vw;
}


/* ======> SETTINGS FOR CELLPHONES <====== */
@media screen and (max-device-width:800px) {
    .simulator-title {
        padding-right: 4rem;
        font-size: 1.6rem;
    }

    .download-and-upload-area {
        flex-direction: column;
    }

    .coding-area {
        display: inline;
    }

    .flex-box {
        display: inline;
    }

    .code-textarea {
        width: 86vw;
    }

    .highlighting {
        width: 86vw;
    }

    .behind {
        transform: translate(0, -102%);
    }

    .execution-area {
        display: inline;
    }

    .execution-settings {
        width: 92vw;
    }

    .log-and-execution-area {
        width: 90vw;
    }

    .button {
        font-size: 1.2rem;
        width: 70vw;
    }

    .compiled-program {
        width: 92vw;
    }
}