body {
    font-size: 15px;
}

/* LOG AREA */
.log-and-execution-area {
    width: 40vw;
    padding: 2vw;
    padding-top: 0;
}

/* TEXTAREA FOR CODE */
.code-textarea {
    background: transparent;
}

.line-column-area, .code-textarea {
    margin: 0 2vw;
}

.line-column-area {
    margin-top: 1vh;
    font-size: 1.06rem;
}

.line-column {
    font-weight: bold;
}

/* STEP CONTROL */
.step-control {
    width: 60%;
}

/* REGISTERS */
.register_section {
    margin-top: 2.5rem;
}

.register_section__registers {
    display: flex;
    flex-wrap: wrap;
}

.register {
    text-align: center;
    min-height: 4rem;
    min-width: 3.5rem;
    background-color: var(--register-lighter-background);
    color: var(--dark-color);
    border-radius: 0.6rem;
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.register_name {
    background-color: var(--execution-button-background);
    color: var(--main-font-color);
    margin: 0;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    min-height: 1.5rem;
    height: 3vmin;
    font-size: 1.5rem;
}

.register_value {
    margin-top: 0.5vh;
}


/* COMPILED CODE */
table, tr, td {
    font-family: monospace;
    background-color: var(--textarea-background);
    color: var(--main-font-color);
    border-collapse: collapse;
}

.line_selected td {
    background-color: var(--highlight-color);
}

.step_column {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 4.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.program_column {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
