/* LOG AREA */
.log-and-execution-area {
    width: 40vw;
    padding: 2vw;
    padding-top: 0;
}


/* TEXTAREA FOR CODE */
.code-textarea {
    margin: 0 2vw;
}


/* REGISTERS */
.register_section {
    margin-top: 2.5rem;
}

.register_section__registers {
    display: flex;
}

.register {
    text-align: center;
    width: 3.5vw;
    height: 8vh;
    background-color: var(--register-lighter-background);
    border-radius: 0.6rem;
    font-size: 2rem;
    margin-right: 1rem;
}

.register_name {
    background-color: var(--execution-button-background);
    margin: 0;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    height: 3vh;
    font-size: 1.5rem;
}

.register_value {
    margin-top: 0.5vh;
}


/* COMPILED CODE */
table, tr, td {
    background-color: var(--textarea-background);
    color: var(--main-font-color);
    border-collapse: collapse;
}

.line_selected td {
    background-color: var(--highlight-color);
}

.pointer_column {
    width: 2rem;
}

.step_column {
    width: 4.5rem;
}

.program_column {
    min-width: 20rem;
}