/* LOG AREA */
.log-and-execution-area {
    width: 40vw;
    padding: 2vw;
    padding-top: 0;
}

/* TEXTAREA FOR CODE*/
.code-textarea {
    margin: 0 2vw;
}





.execution-area {
    display: flex;
}


.execution-settings {
    width: 50vw;
    padding: 0 2vmax;
}

.input-code {
    margin: 1rem 0;
}

.input_label {
    font-size: 1.8rem;
}

.input_box {
    background: var(--textarea-background);
    color:var(--main-font-color);
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.3rem;
}

.control_buttons {
    display: flex;
    margin-bottom: 2.5rem;
}

.control_buttons .button{
    font-size: 1rem;
    margin-right: 1vw;
    width: 7vw;
    padding: 0.3rem 0.8rem;
}

.register_section {
    margin-top: 2.5rem;
}

.register_section__registers {
    display: flex;
}

.register {
    text-align: center;
    width: 3.5vw;
    height: 8vh;
    background-color: var(--register-lighter-background);
    border-radius: 0.6rem;
    font-size: 2rem;
    margin-right: 1rem;
}

.register_name {
    background-color: var(--execution-button-background);
    margin: 0;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    height: 3vh;
    font-size: 1.5rem;
}

.register_value {
    margin-top: 0.5vh;
}

.compiled-program {
    width: 50vw;
}

table, tr, td {
    background-color: var(--textarea-background);
    color: var(--main-font-color);
    border-collapse: collapse;
}

.line_selected td {
    background-color: var(--highlight-color);
}

.pointer_column {
    width: 2rem;
}

.step_column {
    width: 4.5rem;
}

.program_column {
    min-width: 20rem;
}

@media screen and (max-width:800px) {
    .simulator-title {
        font-size: 1.6rem;
    }

    .coding-area {
        display: inline;
    }

    .code-textarea {
        width: 86vw;
    }

    .log-and-execution-area {
        width: 90vw;
    }

    .button {
        font-size: 1.2rem;
        width: 70vw;
    }
}