/* LOG AREA */
.log-and-execution-area {
    display: flex;
}

.log-area div {
    width: 30vw;
}


/* CODING AREA */
.coding-area {
    width: 60vw;
    margin: 0 2vw;
}


/* ACTUAL LAMBDA TERM AREA */
.actual-term {
    margin-top: 2.5rem;
}

.actual-term div {
    width: 40vw;
    min-height: 10vh;
    padding: 0.4rem;
    color: var(--error-font-color);
    background-color: var(--textarea-background);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* TREE VISUALIZATION AREA */
.tree-visualization {
    width: 40vw;
}

.tree-visualization h2 {
    margin: 0;
}


/* ======> SETTINGS FOR CELLPHONES <====== */
@media screen and (max-width:800px) {
    .content {
        display: inline;
    }

    .log-and-execution-area {
        display: inline;
    }

    .log-area {
        margin: 0 2vw;
    }

    .log-area div {
        width: 90vw;
    }

    .tree-visualization {
        margin: 0 2vw;
        width: 90vw;
    }
}